.env
**/node_modules/
__pycache__/
**/__pycache__/

.DS_Store
**/.DS_Store

**serverless/
**.serverless/

extractCatalogInfo/serverless/
extractCatalogInfo/.serverless/
extractCatalogInfo/.serverless/
.DS_Store
WebApp/.DS_Store
